* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@font-face {
    font-family: 'Aura-Seraph';
    src: url('../assets/aura-seraph-font/AuraSeraphRegular-own3z.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon';
    src: url('../assets/Brandon/HvDTrial_Brandon_Text_Regular-BF6514e9eb617a0.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Bold';
    src: url('../assets/Brandon/HvDTrial_Brandon_Text_Bold-BF6514e9eb720dc.otf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

:root {
    --main-font: 'Aura-Seraph', Arial, Helvetica, sans-serif;
    --secondary-font: 'Brandon', Arial, Helvetica, sans-serif;
    --third-font: 'Brandon Bold', Arial, Helvetica, sans-serif;
}

body {

}

#outer-border {
display: flex;
justify-content: center;
align-items: center; 
margin: 0 auto;
height: 100vh;
width: 100vw;
position: relative;
background-image: url("../assets/bg-v6.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}

#game-area {
margin: 0 auto;
height: 88vh;
width: 93vw;
position: relative;
overflow: hidden;
background-color:  rgb(255, 232, 243, 0.60);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
border-radius: 15px;
backdrop-filter: blur(4px);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
/* filter: blur(10px); */
z-index: 1;
}

#game-start {
    background-color: rgba(250, 202, 219, 0.3);
    position: absolute;
    background-size: cover; 
    background-position: center; 
    top: 50%;
    left: 50%;
    z-index: 4;
    font-family: var(--main-font);
    font-size: 150px;
    color: #FF1887;
    transform: translate(-50%, -50%);
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    display: none;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    text-align: center;
}

#start-card {
    display: flex;
    height: 500px;
    width: 500px;
    background-color: #fff1f8;
    background-image: url("../assets/startCard-v2.png");
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 3rem;
    line-height: 0.7;
    background-size: cover; 
    background-position: center; 
}

#start-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
    

#start-game {
    width: 205px;
    background-color: #FF1887; /* Match the background color */
    font-family: monospace; /* Match the font */
    font-size: 20px; /* Adjust font size as needed */
    color: #ffffff; /* White color for text */
    padding: 1rem 2rem; /* Padding to make it look nice */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add slight rounding to corners */
    cursor: pointer; /* Show pointer on hover */
    font-weight: 600;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}


#start-game:hover {
    background-color: #D00667; /* Change background on hover */
}


#how-to-play {
    width: 205px;
    height: auto;
    background-color: transparent; /* Transparent background */
    color: #FF1887; /* Pink color for text */
    border: 2px solid #FF1887; /* Pink border */
    font-family: monospace; /* Match the font */
    font-size: 20px; /* Adjust font size as needed */
    padding: 1rem 2rem; /* Padding to make it look nice */
    border-radius: 5px; /* Add slight rounding to corners */
    cursor: pointer; /* Show pointer on hover */
    font-weight: 600;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#how-to-play:hover {
    background-color: #E8C0D3; /* Change background on hover */
}


#how-screen {
    background-color: rgba(250, 202, 219, 0.3);
    position: absolute;
    background-size: cover; 
    background-position: center; 
    top: 50%;
    left: 50%;
    z-index: 4;
    font-family: var(--main-font);
    color: #FF1887;
    transform: translate(-50%, -50%);
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    display: none;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
}

#how-card {
    font-family: Arial, Helvetica, sans-serif;
    max-height: 70vh;
    max-width: 90%; /* Constrain width */
    position: relative;
    margin: auto;
    padding: 20px;
    background-color: #fff1f8;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 1.5rem; /* Reduced gap */
    line-height: 1.4; /* Adjusted line-height for readability */
    background-image: url("../assets/how-to-card3.png");
    background-size: cover; 
    background-position: center;
    overflow-y: auto; /* Enable scrolling within how-card */
    color: #21064D;
    top: -50px;
}


/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0); /* Transparent background */
  }

::-webkit-scrollbar-thumb {
background-color: #21064daa; /* Thumb color */
border-radius: 10px;
}

/* Scrollbar thumb hover effect */
::-webkit-scrollbar-thumb:hover {
background-color: #555; /* Darker color on hover */
}



.how-card-content {
    margin: 100px;
    margin-bottom: 30px;
    margin-top: 0px;
}

#close-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff1f8;/* Match the background color */
    font-family: monospace; /* Match the font */
    font-size: 20px; /* Adjust font size as needed */
    color: #000000; /* White color for text */
    padding: .5rem 1rem; /* Padding to make it look nice */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add slight rounding to corners */
    cursor: pointer; /* Show pointer on hover */
    font-weight: 800;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#close-button:hover {
    background-color: rgb(179, 179, 179); /* Change background on hover */
}

#start-game2 {
    background-color: #FF1887; /* Match the background color */
    font-family: monospace; /* Match the font */
    font-size: 20px; /* Adjust font size as needed */
    color: #ffffff; /* White color for text */
    padding: 1rem 2rem; /* Padding to make it look nice */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add slight rounding to corners */
    cursor: pointer; /* Show pointer on hover */
    font-weight: 600;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    position: fixed;
    bottom: 70px;
}


#start-game2:hover {
    background-color: #D00667; /* Change background on hover */
}

#how-card span {
    text-align: center;
    font-size: 28px;
    color: #FF1887;;
    font-family: 'Fantasy', sans-serif;
}


#how-title {
    font-family: var(--main-font) !important;
    color: #FF1887;
    font-size: 84px !important;
}

#how-card h3 {
    color: 21064D;;
    margin-top: 60px;
    font-size: 24px;
    font-family: var(--third-font);
}


#how-card h4 {
    color: #21064D;;
    margin-top: 20px;
    font-size: 18px;
    font-family: var(--third-font)

}

/* Text */
#how-card p {
    margin-top: 10px;
    line-height: 1.6;
    font-size: 16px;
    font-family: var(--secondary-font);
}

/* Enemies and Power-ups styling */

.enemies-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.power-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;

}

.enemies {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.power-ups {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.enemy-item {
    text-align: center;
    width: 30%;
}

.power-up-item {
    text-align: center;
    width: 40%;
    margin: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.enemy-item img, .power-up-item img {
    max-width: 80px;
    margin-bottom: 5px;
}

#game-over {
background-color: rgba(250, 202, 219, 0.3);
position: absolute;
background-size: cover; 
background-position: center; 
top: 50%;
left: 50%;
z-index: 4;
font-family: var(--main-font);
font-size: 150px;
color: #FF1887;
transform: translate(-50%, -50%);
padding: 3rem;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1rem;
display: none;
width: 100vw;
height: 100vh;
backdrop-filter: blur(2px);
text-align: center;
}

#game-over-card {
    display: flex;
    height: 300px;
    width: 700px;
    background-color: #fff1f8;
    background-image: url("../assets/game-over-card.png");
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 2rem;
    line-height: 0.7;
    background-size: cover; 
    background-position: center; 
}


#restart-game {
    background-color: #FF1887; /* Match the background color */
    font-family: monospace; /* Match the font */
    font-size: 20px; /* Adjust font size as needed */
    color: #ffffff; /* White color for text */
    padding: 1rem 2rem; /* Padding to make it look nice */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add slight rounding to corners */
    cursor: pointer; /* Show pointer on hover */
    font-weight: 600;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#restart-game:hover {
    background-color: #D00667; /* Change background on hover */
}


#player {
    background-image: url("../assets/player-v4.png");
    position: absolute;
    background-size: cover; /* or contain */
    background-position: center; /* Adjust as needed */
    width: 90px; /* Set the width */
    height: 90px; /* Set the height */
}

.interactable {
    background-color: rgb(235, 23, 23);
    height: 40px;
    width: 40px;
    position: absolute;
}


.cotton-candy-cloud {
    height: 65px;
    width: 65px;
    position: absolute;
    background-image: url("../assets/cottonCandyCloud.png");
    position: absolute;
    background-size: cover; /* or contain */
    background-position: center; /* Adjust as needed */

}

.candy-lightening-bolt {
    height: 70px;
    width: 70px;
    position: absolute;
    background-image: url("../assets/candyLighteningBolts.png");
    position: absolute;
    background-size: cover; 
    background-position: center; 
}

.candy-bandit {
    height: 70px;
    width: 70px;
    position: absolute;
    background-image: url("../assets/candyBandit.png");
    position: absolute;
    background-size: cover; 
    background-position: center; 
}

.candy-coin {
    height: 40px;
    width: 40px;
    position: absolute;
    background-image: url("../assets/candyCoin.png");
    position: absolute;
    background-size: cover; 
    background-position: center; 
}

.lollipop-token {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url("../assets/lollipopToken.png");
    position: absolute;
    background-size: cover; 
    background-position: center; 

}

.candy-heart {
    height: 40px;
    width: 40px;
    position: absolute;
    background-image: url("../assets/candyHeart3.png");
    background-size: cover; 
    background-position: center; 
}

.bullet {
    background-image: url("../assets/bullet2.png");
    height: 15px;
    width: 15px;
    position: absolute;
    background-size: cover; 
    background-position: center; 
}

.game-stats {
    display: flex;
    gap: 20px;
    position: absolute; /* Allows for easy positioning */
/*     align-items: center;
    justify-content: center; */
    top: 20px; /* Moves the section down from the top of the screen */
    left: 20px; /* Moves it away from the left edge */
    padding: 15px; /* Adds space inside the box */
    background-color: rgba(255, 232, 243, 0.6); /* Light transparent background */
    border-radius: 10px; /* Rounds the corners */
    color: #FF1887; /* Makes the text stand out */
    font-size: 28px; /* Adjust font size if needed */
    font-family: var(--main-font);
    z-index: 1;
}

#lives {
    display: flex;
    font-size: 20px;
    padding-left: 0px;
    gap: 20px;
}

#level, #score {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
}

/* Animations */
@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(30px);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(-30px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .shake {
    animation: shake 300ms;
  }
  



