* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@font-face {
    font-family: 'Aura-Seraph';
    src: url('../assets/aura-seraph-font/AuraSeraphRegular-own3z.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

:root {
    --main-font: 'Aura-Seraph', sans-serif;
}

body {

}

#outer-border {
display: flex;
justify-content: center;
align-items: center; 
margin: 0 auto;
height: 100vh;
width: 100vw;
position: relative;
background-image: url("../assets/bg-v6.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}

#game-area {
margin: 0 auto;
height: 88vh;
width: 93vw;
position: relative;
overflow: hidden;
background-color:  rgb(255, 232, 243, 0.60);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
border-radius: 15px;
backdrop-filter: blur(4px);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
/* filter: blur(10px); */
z-index: 1;
}

#game-start {
    background-color: rgba(250, 202, 219, 0.3);
/*     background-image: url("../assets/startGame-layover-5.png"); */
    position: absolute;
    background-size: cover; 
    background-position: center; 
    top: 50%;
    left: 50%;
    z-index: 4;
    font-family: var(--main-font);
    font-size: 150px;
    color: #FF1887;
    transform: translate(-50%, -50%);
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    display: none;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    text-align: center;
/*     text-shadow: 1px 1px 2px #000000, 0 0 1em #FF1887,
        0 0 0.2em #FF1887; */
        /*     text-shadow: 1px 1px 2px #000000, 0 0 1em #FF1887,
        0 0 0.2em #FF1887; */
}

#start-card {
    display: flex;
    height: 500px;
    width: 500px;
    background-color: #fff1f8;
    background-image: url("../assets/startCard-v2.png");
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 3rem;
    line-height: 0.7;
    background-size: cover; 
    background-position: center; 
}

#start-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
    

#start-game {
    width: 205px;
    background-color: #FF1887; /* Match the background color */
    font-family: monospace; /* Match the font */
    font-size: 20px; /* Adjust font size as needed */
    color: #ffffff; /* White color for text */
    padding: 1rem 2rem; /* Padding to make it look nice */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add slight rounding to corners */
    cursor: pointer; /* Show pointer on hover */
    font-weight: 600;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}


#start-game:hover {
    background-color: #D00667; /* Change background on hover */
}


#how-to-play {
    width: 205px;
    height: auto;
    background-color: transparent; /* Transparent background */
    color: #FF1887; /* Pink color for text */
    border: 2px solid #FF1887; /* Pink border */
    font-family: monospace; /* Match the font */
    font-size: 20px; /* Adjust font size as needed */
    padding: 1rem 2rem; /* Padding to make it look nice */
    border-radius: 5px; /* Add slight rounding to corners */
    cursor: pointer; /* Show pointer on hover */
    font-weight: 600;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#how-to-play:hover {
    background-color: #E8C0D3; /* Change background on hover */
}


#how-screen {
    background-color: rgba(250, 202, 219, 0.3);

    position: absolute;
    background-size: cover; 
    background-position: center; 
    top: 50%;
    left: 50%;
    z-index: 4;
    font-family: var(--main-font);
    font-size: 150px;
    color: #FF1887;
    transform: translate(-50%, -50%);
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    display: none;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    text-align: center;
}

/* #how-card {
    display: flex;
    max-width: 1000px;
    height: auto;
    position: relative;
    margin: auto;
    padding: 20px;
    background-color: #fff1f8;
    background-image: url("../assets/startCard-v2.png");
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 3rem;
    line-height: 0.7;
    background-size: cover; 
    background-position: center; 
} */

#how-card {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    max-width: 90%; /* Constrain width */
    position: relative;
    margin: auto;
    padding: 20px;
    background-color: #fff1f8;
    padding: 1.5rem; /* Reduced padding */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 1.5rem; /* Reduced gap */
    line-height: 1.4; /* Adjusted line-height for readability */
    background-image: url("../assets/howToCard.png");
    background-size: cover; 
    background-position: center;
    overflow-y: auto; /* Enable scrolling within how-card */
    color: #21064D;
}

#close-button {
    background-color: #ffffff; /* Match the background color */
    font-family: monospace; /* Match the font */
    font-size: 20px; /* Adjust font size as needed */
    color: #FF1887; /* White color for text */
    padding: 1rem 2rem; /* Padding to make it look nice */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add slight rounding to corners */
    cursor: pointer; /* Show pointer on hover */
    font-weight: 600;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#close-button:hover {
    background-color: rgb(179, 179, 179); /* Change background on hover */
}

#how-card span {
    text-align: center;
    font-size: 28px;
    color: #FF1887;;
    font-family: 'Fantasy', sans-serif;
}

#how-card h3 {
    color: 21064D;;
    margin-top: 20px;
    font-size: 24px;
}


#how-card h4 {
    color: 21064D;;
    margin-top: 20px;
    font-size: 18px;
}

/* Text */
#how-card p {
    margin-top: 10px;
    line-height: 1.6;
    font-size: 16px;
}

/* Enemies and Power-ups styling */

.enemies-section, .power-section {
    display: flex;

}

.enemies, .power-ups {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.enemy-item, .power-up-item {
    text-align: center;
    width: 30%;
}

.enemy-item img, .power-up-item img {
    max-width: 50px;
    margin-bottom: 5px;
}

#game-over {
background-color: #000000b2;
position: absolute;
top: 50%;
left: 50%;
z-index: 4;
font-family: monospace;
font-size: 60px;
color: rgb(255, 255, 255);
transform: translate(-50%, -50%);
padding: 3rem;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1rem;
display: none;
width: 100vw;
height: 100vh;
backdrop-filter: blur(2px);
text-shadow: 1px 1px 2px #000000, 0 0 1em #FF1887,
    0 0 0.2em #FF1887;
}


#restart-game {
    background-color: #ffffff; /* Match the background color */
    font-family: monospace; /* Match the font */
    font-size: 20px; /* Adjust font size as needed */
    color: #FF1887; /* White color for text */
    padding: 1rem 2rem; /* Padding to make it look nice */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add slight rounding to corners */
    cursor: pointer; /* Show pointer on hover */
    font-weight: 600;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}



#player {
    background-image: url("../assets/player-v1.png");
    position: absolute;
    background-size: cover; /* or contain */
    background-position: center; /* Adjust as needed */
    width: 90px; /* Set the width */
    height: 90px; /* Set the height */
}

.interactable {
    background-color: rgb(235, 23, 23);
    height: 40px;
    width: 40px;
    position: absolute;
}


.cotton-candy-cloud {
    height: 65px;
    width: 65px;
    position: absolute;
    background-image: url("../assets/candyCaneCloud.png");
    position: absolute;
    background-size: cover; /* or contain */
    background-position: center; /* Adjust as needed */

}

.candy-lightening-bolt {
    height: 70px;
    width: 70px;
    position: absolute;
    background-image: url("../assets/candyLighteningBolts.png");
    position: absolute;
    background-size: cover; 
    background-position: center; 
}

.candy-bandit {
    height: 70px;
    width: 70px;
    position: absolute;
    background-image: url("../assets/candyBandit.png");
    position: absolute;
    background-size: cover; 
    background-position: center; 
}

.candy-coin {
    height: 40px;
    width: 40px;
    position: absolute;
    background-image: url("../assets/candyCoin.png");
    position: absolute;
    background-size: cover; 
    background-position: center; 
}

.lollipop-token {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url("../assets/lollipopToken.png");
    position: absolute;
    background-size: cover; 
    background-position: center; 

}

.candy-heart {
    height: 40px;
    width: 40px;
    position: absolute;
    background-image: url("../assets/candyHeart.png");
    background-size: cover; 
    background-position: center; 
}

.bullet {
    background-image: url("../assets/bullet2.png");
    height: 15px;
    width: 15px;
    position: absolute;
    background-size: cover; 
    background-position: center; 
}

.game-stats {
    display: flex;
    gap: 20px;
    position: absolute; /* Allows for easy positioning */
/*     align-items: center;
    justify-content: center; */
    top: 20px; /* Moves the section down from the top of the screen */
    left: 20px; /* Moves it away from the left edge */
    padding: 15px; /* Adds space inside the box */
    background-color: rgba(255, 232, 243, 0.6); /* Light transparent background */
    border-radius: 10px; /* Rounds the corners */
    color: #FF1887; /* Makes the text stand out */
    font-size: 28px; /* Adjust font size if needed */
    font-family: var(--main-font);
    z-index: 1;
}

#lives {
    display: flex;
    font-size: 20px;
    padding-left: 0px;
    gap: 20px;
}

#level, #score {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
}



